/* * {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
} */
body{
  background-color: #dbe8e6cf;
  height: 100%;
}
#root {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.routes {
  background-color: #dbe8e6cf;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.success {
  position: absolute;
  bottom: 10px;
  font-size: 50px;
}


/* Home */
.home {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf1f1;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.4);
  margin-bottom: 2%;


}
.homeBody {
display: flex;
flex-direction: column;
width: 100%;

}
.homeSection {
background-color: #edf1f1;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 2% 0;
}
.homeSection img {
width: 90%;
}


/* NavBar */
.active{
  text-decoration: underline;
}
.Navbar {
  /* background-color: #dbe8e6cf; */
  width: 100%;
  height: 2%;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
  position: sticky;
  z-index: 9999;
}
a.logo {
 height: 5vh;
}

.username{
  color: #141414;
  position: relative;
  font-family: "Pathway Gothic One", Arial, sans-serif !important;
  letter-spacing: 1px;
  padding: 0px 30px;
  font-weight: bolder;
  font-size: 20px;
}
.Navbar a:not(.logo) {
  cursor: pointer;
  text-decoration: none;
  color: #141414;
  position: relative;
  font-family: "Pathway Gothic One", Arial, sans-serif !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0px 15px;
  margin: 0px 15px;
}
  .Navbar a:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: translateX(0);
    width: 0%;
    height: 2px;
    background-color: #398378;
    transition: width 0.3s ease-in-out;
  }

  .Navbar a.active:after {
    width: 100%;
    text-decoration: underline;

  }

  .Navbar a:hover:after {
    width: 100%;
  }

.Navbar button {
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.links {
  display: flex;
  align-items: center;
  gap: 25px;
}

a {
  display: flex;
  font-size: 15px;
  margin-bottom: 2%;
  margin-top: 2%;
  color: black;
}
.logo{
  display: flex;
  margin-bottom: 2%;
  margin-top: 2%;
  height: 25px;
}

@media (max-width: 1500px) {
  .link {
    font-size: 30px;
  }
}

@media (max-width: 1100px) {
  .link {
    font-size: 20px;
  }

  .welcome {
    font-size: 35px;
  }
}


/* Log in form */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color:  #e5e5e5;
  padding: 1.5%;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.loginCard {
  width: 90%;
  position: relative;
  margin: auto;
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #e8e8e8;
  box-shadow: 2px 2px 10px #ccc;
}
.close-button-nav{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.close-button-nav {
  color: #398378;
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}

.close-button-nav:hover {
  color: #39837870;
}
.cardHeader {
  text-align: center;
  margin-bottom: 5%;
  margin: 0;
  font-size: 24px;
  color: black;
}

.log {
  margin-bottom: 20px;
  font-size: 24px;
  color: black;
}

.loginForm {
  margin-bottom: 5%;
}

input[type="text"],
input[type="password"] {
  margin-bottom: 5%;
  margin-top: 2%;
  width: 100%;
  padding: 3% 5%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
}

.loginButton {
  width: 100%;
  background-color: #398378;
  color: white;
  padding: 20px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #39837870;
  border: none;
  color: white;
}
#createOne {
  display: flex;
  justify-content: center;
  align-items: center;
}

#createOne button {
  background-color: #e8e8e8;
  border: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


#createOne:hover button{
  text-decoration: underline;
  color: black;
  cursor: pointer;
}


/* log out */
.out {
  display: flex;
  justify-content: center;
}

.logout {
  background-color: #4c9088;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout:hover {
  background-color: #a3bebb;
  color: white;
}


/* post list */
.postsList {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #edf1f1;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.4);
  margin-bottom: 2%;
  padding-bottom: 2%;
}

.post {
  width: calc(100% / 5); /* Display 3 posts per row */
  margin: 1%;
  padding: 3%;
  padding-bottom: 1%;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #e8e8e8;
  box-shadow: 2px 2px 10px #ccc;
}
@media (max-width: 1000px) {
  /* For screens with a minimum width of 1024px, display 2 posts per row */
  .post {
    width: calc(100% / 3);
  }
}

@media (max-width: 900px) {
  /* For screens with a minimum width of 1024px, display 2 posts per row */
  .post {
    width: calc(70%);
  }
}

.searchBar {
  margin-top: 4%;
  width: 90%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}

.searchBar input {
  width: 40%;
  padding: 1%;
  font-size: 14px; 
}

.postTitle {
  margin: 0;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  margin-bottom: .5%;
}

.postInfo {
  margin: 1%;
  text-align: left;
  font-size: 15px;
}
.description{
  margin-left: 1%;
  margin-top: 0;
  margin-bottom: 2%;
  font-size: 17px;;
}

.postButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 5%;
  width: 100%;
}

.typing {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  height: fit-content;
  width: 100% !important;
}

.textArea {
  width: 100% !important;
  display: flex;
  margin-bottom: 0 !important;
  font-size: 13px !important;
  /* align-items: center; */
}

.sendButton {
  background-color: #4c9088;
  border: #4c9088;
  color: white;
  margin-left: 3%;
  margin-bottom: 1.5%;
  height: fit-content;
  font-size: 14px !important;
  
}
.deleteButton {
  background-color: #4c9088;
  border: #4c9088;
  color: white;
  margin-left: 5px;
}

.sendButton:hover {
  color: white;
  border: #4c9088;
}

.deleteButton:hover {
  color: white;
  border: #4c9088;
  background-color: #a3bebb
}
.pagination{
  margin-bottom: 4%;
  width: 90%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;

}
#paginateButton{
  color: transparent;
  background-color: #a3bebb;
  border: #4c9088;
  color: white;
  margin-right: 1%;
  padding: .5% 1%;
}
#paginateButton:hover{
  border: #4c9088;
  background-color: #4c9088;
}
#paginateButton.active{
  border: #4c9088 !important;
  background-color: #4c9088 !important;
}

/* create post form */
.myHeader {
  width: 100%;
  text-align: center;
  font-size: 130%;
  font-weight: bold;
}

.makePost {
  width: 60%;
  margin: 2% auto;
  padding: 3%;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #e8e8e8;
  box-shadow: 2px 2px 10px #ccc;
  margin-top: 2%;
}

.createForm {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.createInfo {
  height: 300% !important;
  border-radius: 5px;
  background: white;
  margin-bottom: 5% !important;
  margin-top: 5% !important;
  border: none;
  padding:5% !important;
  font-weight: 300;
  font-size: 14px;
  color: #4B4B4B;
}

.createSubmit {
  width: 100%;
  height: 54px;
  font-size: 14px;
  color: white;
  background: #3f7e76;
  border-radius: 5px;
  font-weight: 500;
}

.createSubmit:hover {
  color: white;
  border: #4c9088;
  background-color: #a3bebb
}

.createDeliver {
  text-align: left;
  padding: 2%;
  margin-bottom: 5%;
  color: #757373;
}


/* profile */
.profile {
  height: fit-content;
  display: flex;
  flex-direction: row;
  width: 90%;
  background-color: #edf1f1;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.4);
  margin-bottom: 2%;
}

.messageList {
  width: 60%;
  margin: 0 auto;
  padding: 5%;
  border: 1px solid #cccccc;
  border-radius: 10px;
  background-color: #e1e4e4;
  box-shadow: 2px 2px 10px #cccccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.messageTitle {
  margin: 0;
  font-size: 23px;
  font-weight: bold;
}

.messageInfo {
  margin: 2%;
  text-align: left;
}

.yourMessage {
  font-size: 30px;
}

.reply {
  margin: 2%;
}

.inbox {
  margin: 3%;
}

.outbox {
  margin: 3%;
}
.noPosts{
  text-align: center;
}
/* my posts */
.myPosts{
  height: fit-content;
  display: flex;
  flex-direction: row;
  width: 90%;
  background-color: #edf1f1;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.4);
  margin-bottom: 2%;
}
.left{
  height: fit-content;
  flex: 2;
  position: relative;
  padding-top: 2%;
  padding-bottom: 2%;
  }
.right{
    flex: 2;
    position: relative;
    padding-bottom: 2%;
    background-color: #dbe8e660;
    padding-top: 2%;
  }
  .myLeft{
    height: fit-content;
    flex: 2;
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
    }
  .myRight{
      flex: 1.5;
      position: relative;
      padding-bottom: 2%;
      background-color: #dbe8e660;
      padding-top: 2%;
    }
  .myPost {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5%;
    padding-bottom: 3%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #e8e8e8;
    box-shadow: 2px 2px 10px #ccc;
    
  }
  
  .myPostTitle {
    margin: 0;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-bottom: .5%;
  }
  
  .myPostInfo {
    margin: 1%;
    text-align: left;
    font-size: 15px;
  }
  .myDescription{
    margin-left: 1%;
    margin-top: 0;
    margin-bottom: 2%;
    font-size: 17px;;
  }
  .myPostButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
  }